<% content_for :title,  @article.title %>

<div class="span8" style="width:100%">
  <h4><%= @article.title %></h4>
    <div class="thumbnail">
      <%= image_tag @article.photothumb.url(:medium) %>
    </div>

  <p><%=raw @article.body.bbcode_to_html %></p>

  <div class="form-actions">
    <%= link_to 'Quay lại', "/", :class => 'btn btn-primary'  %>
  </div>

</div>

