<% content_for :title,  @article.title %>

<div class="span8" style="width:100%">
  <h3><%= @article.title %></h3>
  <p><%= @article.body %></p>

  <div class="form-actions">
    <%= link_to 'Quay lại', new_path, :class => 'btn'  %>
  </div>

</div>

