<% content_for :title, "Trang chủ" %>

<div class="row">
  <% @articles.each do |article| %>
    <div class="span4">
      <h4><%= link_to article.title, article_path(article) %></h4>
      <div class="thumbnail">
        <%= image_tag article.photothumb.url(:medium) %>
      </div>
      <p><%= truncate article.body, :length => 200 %></p>
    </div>
  <% end %>
</div>
