<% content_for :title,  "Hỏi đáp - FAQs" %>

<div class="span8" style="width:100%">
  <h4>Định nghĩa Mã nguồn mở</h4>
    <div class="thumbnail">
      <img alt="Gnu" src="/system/articles/photothumbs/000/000/040/medium/GNU.png?1337767143">
    </div>

  <p>Mã nguồn mở không chỉ có nghĩa là truy cập vào mã nguồn. Các điều khoản phân phối của phần mềm mã nguồn mở phải tuân thủ các tiêu chuẩn sau:<br>
<br>
1. Tự do tái phân phối<br>
Giấy phép đó sẽ không giới hạn bất cứ một bên nào khỏi việc bán hay đem cho phần mềm đó như là một thành phần của bản phân phối phần mềm tổng hợp mà có chứa các chương trình từ nhiều nguồn khác nhau. Giấy phép sẽ không đòi hỏi việc phải giữ nguyên trạng phần mềm hay các phí tổn khác cho những thương vụ như vậy.<br>
<br>
Lý do cơ bản: Bằng cách hạn chế giấy phép để yêu cầu phải cho phép tái phân phối tự do, chúng tôi giảm thiểu sức cám dỗ của việc từ bỏ những lợi ích dài hạn để tìm kiếm những đồng đô la bán sản phẩm tầm ngắn hạn. Nếu chúng tôi không làm vậy thì sẽ có rất nhiều áp lực khiến cho những người cùng tham gia cộng tác phải bỏ dở công việc phát triển.<br>
<br>
2. Mã nguồn<br>
<br>
Chương trình phải đi kèm mã nguồn, và phải cho phép phân phối cả mã nguồn cũng như dạng đã được biên dịch. Ở những nơi mà một số dạng sản phẩm không được phân phối cùng mã nguồn thì phải có các cách thức được phổ biến rộng rãi nhằm lấy được mã nguồn với chi phí không cao hơn chi phí tái sản xuất hợp lý–khuyến khích cho phép tải về một cách miễn phí qua Internet. Mã nguồn phải để dạng được ưa chuộng mà theo đó một lập trình viên sẽ có thể tham gia sửa đổi chương trình được. Việc biến đổi mã nguồn thành một dạng mã gây rối một cách có chủ tâm là không được phép. Những hình thức trung gian như kết quả xử lý từ một bộ tiền xử lý hay máy dịch cũng không được phép.<br>
<br>
Lý do cơ bản: Chúng tôi yêu cầu truy cập vào được thứ mã nguồn không phải là mã gây rối bởi vì bạn sẽ không thể làm cho chương trình phát triển khi không thay đổi chúng. Bởi vì mục đích của chúng tôi là tạo điều kiện để việc phát triển được thuận lợi nên chúng tôi yêu cầu sự sửa đổi mã nguồn cũng phải được tạo điều kiện thực hiện.<br>
<br>
3. Các chương trình phái sinh<br>
<br>
Giấy phép phải cho phép sửa đổi và các chương trình phái sinh từ đó, và phải cho phép chúng được phân phối dưới cùng các điều khoản như giấy phép của phần mềm gốc.<br>
<br>
Lý do cơ bản: Khả năng duy nhất là đọc mã nguồn là chưa đủ để hỗ trợ cho việc nghiên cứu, đánh giá có tính đồng đẳng độc lập cũng như việc lựa chọn nhanh mang mục đích phát triển thêm. Để việc phát triển sản phẩm diễn ra nhanh, mọi người cần được cung cấp khả năng làm việc để cho ra các bản sửa đổi và tái phân phối chúng.<br>
<br>
4. Tính toàn vẹn của mã nguồn cung cấp bởi Tác giả<br>
<br>
Giấy phép có thể hạn chế không cho phép mã nguồn được phân phối ở dạng đã được sửa đổi chỉ nếu như giấy phép cho phép phân phối “các file vá” cùng mã nguồn nhằm mục đích sửa đổi chương trình ở thời gian tạo sản phẩm. Giấy phép phải cho phép một cách tường minh việc phân phối phần mềm được tạo ra từ mã nguồn được sửa đổi. Giấy phép có thể yêu cầu các sản phẩm phái sinh phải mang một cái tên hay một số hiệu phiên bản khác so với phần mềm gốc.<br>
<br>
Lý do cơ bản: Việc khuyến khích có nhiều cải tiến là một điều tốt, nhưng những người sử dụng có quyền được biết ai chịu trách nhiệm về phần mềm mà họ đang sử dụng. Các tác giả và những người bảo trì có quyền lợi mang tính chất có đi có lại trong việc biết là họ đang được yêu cầu làm gì để hỗ trợ và bảo vệ danh tiếng về mặt uy tín của họ.<br>
<br>
Theo đó, một giấy phép mã nguồn mở phải đảm bảo rằng mã nguồn sẽ tồn tại ở dạng dễ dàng lấy được, nhưng có thể yêu cầu rằng nó sẽ được phân phối với cơ sở mã nguồn nguyên gốc ban đầu kèm với các bản vá. Theo cách này, những thay đổi “không chính thức” có thể xuất hiện ở hình thức sẵn sàng để tiếp cận nhưng được phân biệt một cách dễ dàng với mã nguồn cơ sở.<br>
<br>
5. Không có sự phân biệt đối xử giữa các cá nhân hay nhóm người<br>
<br>
Giấy phép phải không được phân biệt đối xử với bất cứ cá nhân hay nhóm người nào.<br>
<br>
Lý do cơ bản: Để thu được lợi ích tối đa từ quá trình này, thì giấy phép cũng phải tạo điều kiện để đạt được mức độ đa dạng tối đa của các cá nhân cũng như nhóm tham gia đóng góp vào mã nguồn. Do vậy chúng tôi không cho phép bất cứ một giấy phép mã nguồn mở nào ngăn cản bất cứ ai tham gia vào tiến trình.<br>
<br>
Một số quốc gia, trong đó có Hoa Kì, ban hành điều luật hạn chế xuất khẩu một số loại phần mềm nhất định. Một giấy phép tuân thủ Định nghĩa Mã Nguồn Mở có thể cảnh báo cho người sử dụng giấy phép về những hạn chế có thể được áp dụng và nhắc nhở họ là họ có nghĩa vụ tuân thủ luật pháp; tuy nhiên, giấy phép đó không được tự đặt ra các giới hạn như vậy.<br>
<br>
6. Không phân biệt đối xử với bất cứ một lĩnh vực công việc nào<br>
<br>
Giấy phép phải không được cản trở bất cứ ai khỏi việc sử dụng chương trình trong một lĩnh vực công việc cụ thể. Ví dụ, nó không được cản trở không cho chương trình đó được dùng trong một doanh nghiệp, hay không được dùng cho việc nghiên cứu gien.<br>
<br>
Lý do cơ bản: Lưu tâm chú yếu của điều khoản này là việc cấm các bẫy của giấy phép phục vụ cho việc cản trở mã nguồn mở không cho dùng trong các công việc có tính thương mại. Chúng tôi muốn những người sử dụng thương mại tham gia cộng đồng của chúng ta, chứ không phải cái cảm giác bị tách biệt khỏi nó.<br>
<br>
7. Việc phân phối giấy phép<br>
<br>
Các quyền lợi đi kèm với chương trình phải áp dụng cho tất cả những ai mà chương trình đó được tái phân phối đến đồng thời không cần phải thực thi một thứ giấy phép phụ thêm nào do các bên đó quy định. Lý do cơ bản: Điều khoản này là nhằm cấm đoán việc đóng phần mềm bằng cách cách thức gián tiếp như là yêu cầu một thỏa thuận ngầm.<br>
<br>
8. Giấy phép phải không được dành riêng cho một sản phẩm<br>
<br>
Các quyền lợi đi cùng chương trình đó phải không được phụ thuộc vào việc chương trình phải là một bộ phận một một bản phân phối phần mềm cụ thể. Nếu chương trình được tách ra từ bản phân phối đó và được sử dụng hay phân phối dưới các điều khoản của giấy phép kèm theo chương trình thì tất cả các bên mà chương trình được phân phối đến cũng nên có được các quyền lợi ngang bằng như những quyền lợi được đưa ra theo bản phân phối phần mềm gốc. Lý do cơ bản: Điều khoản này loại bỏ khả năng xảy ra các lớp bẫy giấy phép khác.<br>
<br>
9. Giấy phép phải không được cản trở các phần mềm khác<br>
<br>
Giấy phép phải không được áp đặt các giới hạn lên các phần mềm khác mà được phân phối kèm với phần mềm có giấy phép đó. Ví dụ, giấy phép không được chỉ dẫn nhất quyết rằng tất cả các phần mềm khác được phân phối trên cùng một phương tiện thì phải là phần mềm mã nguồn mở. Lý do cơ bản: Các nhà phân phối phần mềm mã nguồn mở phải có quyền đưa ra các lựa chọn của chính họ liên quan đến phần mềm của họ.<br>
<br>
Đúng là GPL tuân thủ theo yêu cầu này. Phần mềm liên kết với các thư viện phân phối dưới GPL chỉ kế thừa GPL nếu nó tạo nên một sản phẩm đơn nhất, chứ không phải là bất cứ phần mềm nào mà chúng chỉ được phân phối đi kèm theo.<br>
<br>
10. Giấy phép phải trung dung về mặt công nghệ<br>
<br>
Không cho phép tồn tại điều khoản nào của giấy phép khẳng định sự liên quan đến bất cứ một công nghệ riêng biệt hay một kiểu giao diện nào.<br>
<br>
Lý do cơ bản: Điều khoản này nhằm cụ thể vào các giấy phép mà đòi hỏi phải có một hành động thiện chí tường minh chứng tỏ sự chấp thuận nào để thiết lập một hợp đồng giữa người cấp giấy phép và người sử dụng giấy phép. Các điều khoản đặt dưới cái gọi là “kích chuột-kí kết”1 có thể xung đột với các phương thức phân phối phần mềm quan trọng như tải về qua FTP, tuyển phần mềm qua CD-ROM, và phân phối qua vùng web đồng dạng2; những điều khoản như vậy cũng có thể gây cản trở đến việc sử dụng lại mã. Các giấy phép tương thích phải cho phép (a) việc tái phân phối phần mềm sẽ diễn ra được trên các kênh không phải là web mà không hỗ trợ hình thức kích chuột-kí kết để tải về, và rằng (b) mã nguồn được bao gói (hay các phần được sử dụng lại của số mã nguồn được bao gói) có thể chạy trên một môi trường không có giao diện đồ họa người sử dụng mà có thể không hỗ trợ các hộp thoại popup.<br>
</p>


</div>