<% content_for :title,  "Liên hệ" %>

<div id="mainwrap"><div id="main">
<div id="profile" class="w100">
<div id="personal" class="clearfix">
<div id="userpic"><img src="/MrTuxHdb.jpg" width="220" height="165" alt="MrTux"></div>
<h2 id="h2-name">MrTux</h2>
<ul class="nobullets">
<li>
<b>Age: </b> 28</li>
<li>
<b>Sex: </b> Male</li>
<li>
<b>Occupation:</b> Student of Water Resources University</li>
<li>
<b>Member since:</b> Dec 2008</li>
<li>
<b>Forum posts:</b> <a href="/community/forums/search.dml?username=mrtux-hdb&amp;exactusername=Y&amp;datemodifier=newer&amp;limitdate=any&amp;sortby=post&amp;disp=post&amp;ignorememberships=1">7</a>
</li>
<li>
<b>IRC</b> _Tux_@irc.freenode.net</li>
<li>
<b>Web site:</b> <a href="http://mrtux.yurx.com" rel="nofollow" class="overflow">http://mrtux.yurx.com</a>
</li>
</ul>
<div class="clear"></div>
</div>
<div class="col1" id="profile-col1"><div id="ff">
<h2>Fast facts</h2>
<ul class="nobullets">
<li>
<b>At the movies I like to see:</b>Phim hành động,phim giã sử,phim hài,phim VN ....</li>
<li>
<b>Last movie seen:</b>Shotter</li>
<li>
<b>Music I listen to:</b>Death/Black Metal, Rock, Nhạc không lời, ...</li>
<li>
<b>Best album right now:</b>Death - Symbolic 1995</li>
<li>
<b>Favorite author:</b>Chuck Schuldiner</li>
<li>
<b>Last book read:</b>Think Python</li>
<li>
<b>Best game right now:</b>Không chơi Game mới đau chứ !</li>
<li>
<b>Favorite sports team:</b>Võ thuật, Bóng đá, ...</li>
<li>
<b>I'm passionate about:</b>IT, OSS &amp; Linux</li>
<li>
<b>I wish I could:</b>Trở thành một chuyên gia CNTT. Con đường còn dài, nhưng vẫn ngày ngày cố gắng !</li>
<li>
<b>Favorite travel destination:</b>Đâu cũng được</li>
<li>
<b>On my vacation I..:</b>Nếu có bạn bè tủ rê thì đi tụ tập đàn đúm không thì ... ở nhà ôm em PC cả ngày !</li>
<li>
<b>If I won 1 million dollars, I would:</b>Nhiều tiền nhỉ ? Chắc là đi học vài khóa về Bảo mật và Lập trình viên.</li>
<li>
<b>If I were a super hero I would:</b>Cướp vợ ;))</li>
<li>
<b>I want my coffee..:</b>Đắng, càng đắng còn ngon : không đường, không đá, không sữa =&gt; Cafe nguyên chất mà dzọt</li>
<li>
<b>Food I like:</b>Thích nhiều lắm kể không hết</li>
<li>
<b>I don't like:</b>I'm not me !!!</li>
<li>
<b>Software I use:</b>OSS : Arch Linux, FF 3.5.5, OOO 3.1, xmms, mpd, GIMP ...</li>
<li>
<b>Hardware I use:</b>Main: ASUS P5K SE/EPU; CPU Intel Core2Duo E7200; HDD Seagate 160GB; VGA ASUS ATI Radeon HD 3650 ...</li>
<li>
<b>I discovered My Opera from:</b>Google ! Search Google vì thích Q&amp;S show vớ được Blog anh Lâm rồi cũng tự mình làm Blog và dùng cho đến giờ ! =&gt; Mởi chuyển nhà sang đây đấy chứ !!! Vì mình là SV rồi mà !!!</li>
</ul>
</div></div>
</div>

</div></div>